language: java
install: true
jdk:
- oraclejdk8
script:
- "./gradlew build"
deploy:
  skip_cleanup: true
  provider: script
  script: "./.travis/deploy.sh $TRAVIS_TAG"
  on:
    tags: true
env:
  global:
  - SONA_USER=snowplow
  # SONA_PASS
  - secure: O0vS0VkbTNmikWAslDvisek/Sq+CjWD5t7znNku7lmyafmEn69aSTeVUtY4+h/xH13r3+aeD61OcsgZ/xKy9t6OGqFqiAZca01B5wey6yG3kvJl3x/nLf/uCC4Fx58nWg+khKnlZSih4xYazEvZ6/mDwWnzCQGxO93la0ml1xpUETXFi+CRHFvcNvP5JV41ESVDEWYslCg4Sn6BzFD77AaHEl7s1efYe1mZm5znsFzc9fn6MtnG7NkDp91CJjwbSrdxAeWl0qVjvViDRk2St+RrsfOq/Dpg3hs947QVT4DGRlch/gfIkFIEmAf9FmdmGo7X/DpBz0zDpw8XEwxcuPrDPvwPiZM11eQ+Vsx/rDbYMr4uBSYfwVJ5n9n94Rd3J5zIJ3rUg1PinXSRD06R51Xk1XyN6xpljZazqFyCLZSY4Hep4FUtu+Ru92co4JbolGp3ttYxWQp3T+LzZTA33j2veJ0GS5oii6S20mEWWCG36ewVKkYw9i8S9ccosXXnAdVELM6I1nVEyZj8YGk/jvxDT+JSRS7r9TZIFVzDl5z1lp7zR+nHRjFy07B2PbVEdaJ41vf8xB+0L9kabjxQdTCrI5pjsQ35MIAEFnD87ZpnD2RnO24WeH1yATQ6FayiPAC52cQmuPXypiQPeG1blA2wib/Lgg2LV9o9Tte0Wt8w=
  # BINTRAY_SNOWPLOW_MAVEN_USER
  - secure: h5rmXW4fBlOVosqD+SqZ4XKCSXkWOOs6NvyskVrSeRy4la51U7Y1cy8nf3y7s2wlVPrkNMHiUreqrCJST0BZHXABmtxZ1n+oD0pmhQeIi40/z1J7Q/XMhHFqu9dcZAnr3IrdklytnjBHtfchZ5N+DFWa3rsbdJD19kfSo+qUn/+PXBo9ECxJxvAgF4/JYbtNmcoLFoyIp2hJyPkmA8fw1ywCA8bH29SegLMjWsECKp75ZOd0haGcWpSTBRspQV3XlsV8P1i5Q253Xi7qECFdxg5BL3H5b0FzctMZRoUGpeVZdZn7Kuq6zDJOrqgeS+2TJvdAIdrQG0WZCrhSUn7ZWut8n/9fc9kCtgX93fVa1ACTzwfMj3N0eqawkY3HKJQdCvdxtSUDTMRyziUGoD3AkeJaxOQeUuO7O1uzz3+rEzHfzmM+uhD8oWNc0FCaQbpzWGtl3/QkG+13cGjTiOaAJJ+eTDTkamsPLG6k+KJve4xx+xbZsUbo3R7Cx7M9Snt3sKEozg1H6KRCtxSg5soAOWRGihGAh9QwOQ4E2aOS04lqsaLdYtSPlTUDMxcuEnCzBEHlJ/t/ZrfGuV5vKHl3ld0IedM5x143XUwqtuh3KXyzSCq84rHtzDjXpomo0Jk0xU4jqWO5fW6w3zRo0vefa3IqS3/bWRpRVUpmvZZymvY=
  # BINTRAY_SNOWPLOW_MAVEN_API_KEY
  - secure: RVUO4rsDZsGiYFJMJBhZxXDWqTYNbWCF5PGOpF/FYdZm4a/Nw7++xagbFDX1XrC+Tgp4EoESSwk2aGJI8gRYMkYoculsG7UZDXQ/l7H98tYu6iG0kGf4nZohzZHK2ZiHthANcffsJEW8B+dAIv+v8inml5QgurYUPr5e7vwvqGfZIzUSMoTY+juFm/GK/jMX+gge5ZbSEg8iq+Ven+Vha2jw3KLynKl8L06c0Yjsxja2YLySCjNhQ0aXcp37FuBMt/8oaDalGljXQSPLdo1OXD1nYcg6hATzYavEsvGEGzynNl78CZDIMD6eY+u17tOXSmjW8Tdzk1Y8L0q03NPAbJaLi8ruoGoyiNyApsNBzXqmfUvN+4rgRLv+mYM1R+WqRavMvk0mZWw/kY9A7lUKdML81rCl9jHgMlFLwNOj8r6IxWk9JrpI4lD+TxASt4pprAeyGcZKzjMZxgtjwmsU4Hdx468WjZWxfYIIB5VK5DzxOgghkBN+wKtKKG9OVw3RSOaG99MzJB951e71K/khM3mi/83i4DVSrb49c0Wvx3aWntyIccvmst4FBss939cWo2D0c6IYgPp7mH7TGjeDSJ27nHdmjjSBQxTZM8+3tn/P9x4NjjupR8V7nx17/sc74Q9HopVKayfp8BdrtaUGmWMRkVhJ2MZYt3wtyzHRmSc=
>>>>>>> fb9ba41... Add Bintray credentials to .travis.yml (close #4)
